<?php
//conf-setting page

$theme->setProperty("paddingSize", "10px");

$s = ".igk-body.conf-setting .igk-bodybox";

$def[$s." .header"]=" {sys:loc_t, loc_l} padding:0px [prop:paddingSize];; background-color:#444; color: white; fill:white;}";
$def[$s." .header > a "]=" {sys:dispib}";
$def[$s." .header .igk-font-symbol"]="font-size:24pt;";
$def[$s." .header .igk-section-title"]="display:inline-block; vertical-align:top;";

