<?php

$def["body"] = "{sys:posr} font-size: 14pt; padding: 0 10px;";
$def["body dt"] = "background-color: #ececec; font-size: 18pt; font-weight: bold; margin:0 -10px; padding:10px;";
$def["body label"] = "display:inline-block; width: 180px; line-height: 1.4em";