<?php
// @author: C.A.D. BONDJE DOUE
// @filename: Untitled-1
// @date: 20260911 09:58:00
// @desc: special tag core 


$def['igk-img'] = '{sys:dispib}';
$def[".igk-body"] = "";
$def[".igk-error-body"]  = "{sys:no-padding,no-margin}";
$def[".igk-ctrl-options"] = "{sys:dispb} text-align:left; margin:0px;";
$def[".igk-ctrl-options ul"] = "{sys:dispi}";
$def[".igk-ctrl-options ul li"] = "{sys:dispib} vertical-align:middle;";