<?php
	$def[".igk-clpicker"]="{sys:dispb} width: 200px; padding:8px 10px; margin:0px; margin-left:auto; margin-right:auto; border:1px solid #aaa;";
	$def[".igk-clpicker .igk-picker-track"]="{sys:dispb} min-height:16px;  border:1px solid #eee; background-color: red; margin:0px";
	$def[".igk-clpicker > .igk-picker-track:not(:first-of-type):not(:last-of-type)"]="margin-top:16px;margin-bottom:16px;";
	$def[".igk-clpicker > .igk-picker-track:first-of-type"]="margin-bottom:8px !important; background-color:blue;";
	$def[".igk-clpicker > .igk-picker-track:last-of-type"]="margin-top:8px !important;";
	$def[".igk-clpicker #clr .igk-trb-cur"]="background-color:red;";
	$def[".igk-clpicker #clg .igk-trb-cur"]="background-color:green;";
	$def[".igk-clpicker #clb .igk-trb-cur"]="background-color:blue";
