# SetEnv PHP_VER 5_4
deny from all  
# exposed files 
<Files "igk_init.php">
    SetHandler cgi-script
    allow from all 
    Options +ExecCGI 
</Files>

<FilesMatch "\.(js|xml|json)$">
allow from all
</FilesMatch>