<phpunit bootstrap="./src/application/Lib/igk/Lib/tests/autoload.php" colors="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./src/application/Packages/vendor/phpunit/phpunit/phpunit.xsd">
	<testsuites>
		<testsuite name="projects">
			<directory>src/application/Projects</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="IGK_BASE_DIR" value="src/public"></env>
		<env name="IGK_APP_DIR" value="src/application"></env>
	</php>
</phpunit>
