<?php

$def['.macos-dialog-btn'] = 'border-radius: 50%; width: 14px; height:14px; display:inline-block;';
$def['.macos-dialog-btn.red'] = 'background-color:#FF5F57;';
$def['.macos-dialog-btn.orange'] = 'background-color:#FEBC2E;';
$def['.macos-dialog-btn.green'] = 'background-color:#27C840;';
$def['.macos-dialog-btn.gray'] = 'background-color:#888;';