<?php


$def[".igk-xml-viewer:after"] = "content:' '; {sys:clearb, dispb}";
$def[".igk-xml-viewer span"] = "{sys:floatl}";
$def[".igk-xml-viewer >div:after"] = "content:' '; {sys:clearb, disptable}";
$def[".igk-xml-viewer div.l"] = "display:block; clear:both ;";
$def[".igk-xml-viewer div.l:after"] = "content:' '; {sys:clearb, disptable}";
$def[".igk-xml-viewer quote"] = "clear:both; margin-left:32px;";
$def[".igk-xml-viewer >div *"] = "{sys:floatl}";
$def[".igk-xml-viewer .attr .n:before"] = "content:' '; padding-left:4px; display:inline-block";
$def[".igk-xml-viewer br"] = "{sys:clearb}";
$def[".igk-xml-viewer .t"] = "{sys:dispib} width:32px;";
$def[".igk-xml-viewer .s"] = "[sysfcl:igk-xml-tag-fcl]";
$def[".igk-xml-viewer .e"] = "[sysfcl:igk-xml-tag-fcl]";
$def[".igk-xml-viewer .o"] = "margin:0px ;";
$def[".igk-xml-viewer .c"] = "font-style:italic; [sysfcl:igk-xml-comment-fcl]";
$def[".igk-xml-viewer .attr .v"] = "[sysfcl:igk-xml-attr-fcl]";
$def[".igk-xml-viewer .attr .n"] = "color:#42a";
$def[".igk-xml-viewer .attrv"] = "[sysfcl:igk-xml-attrv-fcl]";