<?php
//google css

$def[".igk-google-circle-waiter"]= "width:32px; height:32px; {sys:bdr-1}"; 
$def[".igk-google-line-waiter"] = "{sys:no-overflow, fitw} height:4px; background-color:#e6e6e6";
$def[".igk-google-line-waiter:after"] = "{sys:fith,posab, loc_l} width: 70%; content:' '; background-color:#4BC281; [anim:google-linewaiter-infinite 3s infinite, google-linewaiter-infinite2 3s infinite]";
