<div style="padding:2em 0em">
    {{ 'Connexion to Balafon Configuration interface' }} 
</div>
<div>
    <ul>
        <li>Time : {{ $raw->date }}</li>
        <li>domain : {{ $raw->domain }}</li>
        <li>ip: {{ $raw->server_ip }}</li>
        <li>agent : {{ $raw->user_agent }} </li>
    </ul>
</div>
<div>
    Cet email est destiné vous sensibiliser à la sécurité.
</div>