<div style="padding:2em 0em">
Le système vous envoie cet email suite à une connexion réussie à votre d'interface d'administration.
</div>
<div>
<ul>
<li>Time : {$row->clDate}</li>
<li>domain : {$row->clDomain}</li>
<li>ip: [func: igk_getv($_SERVER, 'REMOTE_ADDR')]</li>
<li>with: [func: igk_getv($_SERVER, 'HTTP_USER_AGENT')]</li>
<li>browser: [func: get_browser()]</li>
</ul>
</div>
<div>
Cet email est destiné vous sensibiliser à la sécurité.
</div>