<?php

// @desc: default balafon css configuration
// @variable
// $def : default style
// $xsm_screen : extra small screen size style
// $sm_screen : small screen size style
// $lg_screen : large screen size style
// $xlg_screen : exta large screen size style
// $ctrl : controller that initiate the loading
// $css_m: target node classname

$def[$css_m.""] = "(:.google-Roboto)"; 